body {
    margin-left: 12%;
    margin-right: 12%;
    background-color: #ffefdb;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding-right: 40px;
    text-align: center;
    border: 2px solid #045463;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: inline;
    text-align: justify;
    color: black;
    padding: 12px 12px;
    font-size: 24px;
}

.navbar li a:hover {
    color: white;
    background-color: #067084;
}

hr {
    color: #045463;
}

h1 {
    text-align: center;
}

.experience {
font-size: 20px;
}

h4 {
    font-size: 20px;
    padding-top: 20px;
}

.portfolio {
    font-size: 16px;
}

.job {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.location {
    font-weight: bold;
}

.relaxr {
    position: center;
    padding-left: 25%;
}

.startup {
    position: center;
    padding-left: 25%;
}

.citipix {
    position: center;
    padding-left: 25%;
}

.education {
    padding-top: 20px;
}

