body {
    margin-left: 12%;
    margin-right: 12%;
    background-color: #ffefdb;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
    border: 2px solid #045463;
    text-decoration: none;
}

li {
    display: inline-block;
}

li a {
    display: inline;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 12px 12px;
    font-size: 24px;
}

li a:hover {
    color: white;
    background-color: #067084;
}

hr {
    color: #045463;
}

h1 {
    padding-top: 5px;
    text-align: center;
}

.columns {
    column-count: 2;
}

h3 {
    column-span: 1;
    padding-left: 90px;
    font-size: 20px;
}

h4 {
    column-span: 1;
    padding-left: 75px;
    padding-bottom: 45px;
    border-bottom: 1px solid #067084;
}

img {
    border-radius: 50%;
    }

.social {
    padding-top: 50px;  
}

.social a {
    padding: 5px 5px;
}